 <!-- section 6 start here -->
    <div class="section6">
      <div class="container">
        <h3 class="h3whitecenter">{{section.settings.content}} </h3>
      </div>
    </div>
    <!-- section 6 end here -->
{% schema %}
  {
    "name": "Boy apparel introduction",
    "settings": [
{
"type": "textarea",
"label": "apparel" ,
"id" : "content"
}
],
	"presets": [
      {
        "name": "Boy apparel introduction",
        "category": "homepage"
      }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
